@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

body {
  background-image: url('/22.png');
  background-position: right;
  background-size: contain; 
}

main {
  display: flex;
}

section {
  width: 100%;
}

menu {
  list-style: none;
  text-align: center;
  width: 150px;
  height: 84.8vh;
  background-image: url('/12.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

menu li {
  padding: 15px;
}

#cartao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.cartao1{
  
}

.cartao1 img{
  border-radius: 30px;
  width: 203px;
  height: 115px;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navbar button {
  margin: 10px;
}

.navbar a {
  color: white;
  margin: 10px;
}

.navbar a:visited {
  color: white;
}
