@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

main {
  display: flex;
}

section {
  width: 100%;
}

menu {
  list-style: none;
}

#cartao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navbar button {
  margin: 10px;
}

.navbar a {
  color: white;
  margin: 10px;
}

.navbar a:visited {
  color: white;
}