@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url('22.png');
  background-position: right;
  background-size: contain; 
}

main {
  display: flex;
}

a:link {
  text-decoration: none;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-family: 'Poppins';
  padding: 15px;
  color: white;
}

.navbar a:hover {
  color: orange;
}

.menu{
  text-align: center;
  width: 150px;
  height: 84.8vh;
  list-style: none; 
  background-image: url('12.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu li{
  padding: 15px;
}

.menu li a{
  font-family: 'Poppins';
  color: white;
}

.menu li a:hover{
  color: yellow;
}

#cartao {
  display: flex;
  flex-wrap: wrap;
  margin-left: 6.5vw;
}

#cartao div:first-child{
  margin-top: 2vh;
  margin-left: 9vw;
}

#cartao div:first-child img{
  height: 35vh;
  width: 55vw;
}
.cartao1 {
  border-radius: 40px;
  background-color: rgb(143, 142, 142);
  text-align: center;
  border: 3px solid rgb(202, 145, 39);
}

.cartao1+.cartao1{
  margin: 20px;
}

.cartao1 img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 203px;
  height: 115px;
}
